<div style="display: flex;height:150px;flex-direction:column; justify-content:space-around; align-items: center; margin-top: 9rem">
    <i style="transform:scale(3.0)" class="fa-solid fa-basket-shopping"></i>
    <h3 style="margin:0 !important">Your basket is empty!</h3>
</div>